* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

body, html {
  scroll-behavior: smooth;
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  background: hsl(216deg, 12%, 8%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container .container_blockBase {
  width: 400px;
  background: hsl(213deg, 19%, 18%);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 2px 15px hsl(217deg, 12%, 63%);
}
.container .container_blockBase .container_blockBase_icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: hsl(220deg, 10%, 24%);
}
.container .container_blockBase .container_blockBase_title {
  margin-top: 20px;
  color: hsl(0deg, 0%, 100%);
  font-size: 20px;
}
.container .container_blockBase .container_blockBase_parraf {
  margin-top: 10px;
  color: hsl(216deg, 12%, 54%);
  text-align: justify;
}
.container .container_blockBase .container_blockBase_blockC {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container .container_blockBase .container_blockBase_blockC .container_blockBase_blockC_circle {
  width: 40px;
  height: 40px;
  background: hsl(220deg, 10%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217deg, 12%, 63%);
  border-radius: 50%;
  transition: 0.5s ease-in;
}
.container .container_blockBase .container_blockBase_blockC .container_blockBase_blockC_circle:hover {
  background: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.container .container_blockBase .container_blockBase_blockC .push {
  background: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.container .container_blockBase .container_blockBase_button {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0px;
  background: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  border: none;
  border-radius: 20px;
  transition: 0.5s all;
}
.container .container_blockBase .container_blockBase_button:hover {
  background: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
  cursor: pointer;
}
.container .container_blockBase_js {
  display: none;
}
.container .base {
  width: 400px;
  padding: 30px;
  background: hsl(213deg, 19%, 18%);
  border-radius: 15px;
  box-shadow: 0px 2px 15px hsl(217deg, 12%, 63%);
  text-align: center;
  display: none;
}
.container .base .base_img {
  width: 200px;
  height: 150px;
  margin: auto;
}
.container .base .base_request {
  margin: 20px auto;
  width: 200px;
  padding: 10px;
  background: hsl(220deg, 10%, 24%);
  border-radius: 20px;
}
.container .base .base_request .base_request_text {
  color: hsl(25deg, 97%, 53%);
  text-align: center;
  font-weight: 400;
  font-style: normal;
}
.container .base .base_request .base_request_text #date {
  color: hsl(0deg, 0%, 100%);
  font-weight: 800;
  font-size: 20px;
}
.container .base .base_title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
}
.container .base .base_parrafo {
  margin-top: 10px;
  color: hsl(216deg, 12%, 54%);
}
.container .base .buttom_return {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0px;
  background: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  border: none;
  border-radius: 20px;
  transition: 0.5s all;
}
.container .base .buttom_return:hover {
  background: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
  cursor: pointer;
}
.container .base_reverse_js {
  display: block;
  transition: 0.5s;
}

@media (min-width: 320px) and (max-width: 423px) {
  .container .container_blockBase {
    width: 90%;
    background: hsl(213deg, 19%, 18%);
    padding: 40px;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
